<main class="container-fluid bg-transparent py-2">
  <h2 class="border-bottom pb-2 text-light mb-2">{{ 'EDUCATION.TITLE' | translate }}</h2>
  <div class="row row-cols-1 row-cols-md-2 g-2">
    <!-- UHA -->
    <div class="col-md-4">
      <div class="card bg-body bg-opacity-75 shadow-sm border-0">
        <div class="card-header bg-transparent border-bottom border-secondary">
          <div class="h5">{{ 'EDUCATION.UHA.NAME' | translate }}</div>
          <p class="text-secondary mb-0">{{ 'EDUCATION.UHA.LICENCE' | translate }} <i class="fas fa-check-circle text-success" aria-hidden="true"></i></p>
          <p class="text-secondary mb-0">{{ 'EDUCATION.UHA.MASTER' | translate }} <i class="fa fa-spinner spinning-icon" aria-hidden="true"></i></p>
        </div>
        <div class="card-body row">
          <div class="col-6">
            <h5 class="card-title fw-bold text-decoration-underline">{{ 'EDUCATION.UHA.LANGUAGES_TITLE' | translate }}</h5>
            <ul class="list-unstyled">
              <li class="mb-2" *ngFor="let language of uhaLanguages">
                <i class="fas fa-check-circle text-primary me-2"></i>{{ language }}
              </li>
            </ul>
          </div>
          <div class="col-6">
            <h5 class="card-title fw-bold text-decoration-underline">{{ 'EDUCATION.UHA.SKILLS_TITLE' | translate }}</h5>
            <ul class="list-unstyled">
              <li class="mb-2" *ngFor="let skill of uhaSkills">
                <i class="fas fa-check-circle text-primary me-2"></i>{{ skill }}
              </li>
            </ul>
          </div>
        </div>
        @if (isDarkTheme) {
          <img class="img-card-bottom h-100 w-100 p-1" ngSrc="/assets/Logo-Uha-blanc.png" alt="image" height="200" width="800">
        }
        @else {
          <img class="img-card-bottom h-100 w-100 p-1" ngSrc="/assets/Logo-Uha-blanc.png" alt="image" style="filter: invert(1);" height="200" width="800">
        }
      </div>
    </div>

    <!-- Don Bosco -->
    <div class="col-md-4">
      <div class="card bg-body bg-opacity-75 shadow-sm border-0">
        <div class="card-header bg-transparent border-bottom border-secondary">
          <div class="h5">{{ 'EDUCATION.DON_BOSCO.NAME' | translate }}</div>
          <p class="text-secondary mb-0">{{ 'EDUCATION.DON_BOSCO.BAC' | translate }} <i class="fas fa-check-circle text-success" aria-hidden="true"></i></p>
          <br>
        </div>
        <div class="card-body">
          <h5 class="card-title fw-bold text-decoration-underline">{{ 'EDUCATION.DON_BOSCO.SKILLS_TITLE' | translate }}</h5>
          <ul class="list-unstyled">
            <li class="mb-2" *ngFor="let skill of donBoscoSkills">
              <i class="fas fa-check-circle text-primary me-2"></i>{{ skill }}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Autodidacte -->
    <div class="col-md-4">
      <div class="card bg-body bg-opacity-75 shadow-sm border-0">
        <div class="card-header bg-transparent border-bottom border-secondary">
          <div class="h5">{{ 'EDUCATION.SELF_TAUGHT.TITLE' | translate }}</div>
          <p class="text-secondary mb-0">{{ 'EDUCATION.SELF_TAUGHT.SUBTITLE' | translate }}</p>
          <br>
        </div>
        <div class="card-body">
          <h5 class="card-title fw-bold text-decoration-underline">{{ 'EDUCATION.SELF_TAUGHT.SKILLS_TITLE' | translate }}</h5>
          <ul class="list-unstyled">
            <li class="mb-2" *ngFor="let skill of selfTaughtSkills">
              <i class="fas fa-check-circle text-primary me-2"></i>{{ skill }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>
