<main class="container-fluid bg-transparent py-2">
    <h2 class="border-bottom pb-2 text-light mb-4">Éducation</h2>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col-md-4">
            <div class="card bg-body bg-opacity-75 shadow-sm border-0">
                <div class="card-header bg-transparent border-bottom border-secondary">
                    <div class="h5">Université de Haute Alsace - Mulhouse</div>
                    <p class="text-secondary mb-0">2019 - 2025 : LICENCE INFORMATIQUE</p>
                    <p class="text-secondary mb-0">2025 - aujourd'hui : MASTER MIAGE</p>
                </div>
                <div class="card-body row">
                    <div class="col-6">
                      <h5 class="card-title fw-bold text-decoration-underline">Langages et frameworks appris :</h5>
                      <ul class="list-unstyled">
                          <li class="mb-2"><i class="fas fa-check-circle text-primary me-2"></i>C++</li>
                          <li class="mb-2"><i class="fas fa-check-circle text-primary me-2"></i>PHP</li>
                          <li class="mb-2"><i class="fas fa-check-circle text-primary me-2"></i>Java</li>
                          <li class="mb-2"><i class="fas fa-check-circle text-primary me-2"></i>JavaScript</li>
                          <li class="mb-2"><i class="fas fa-check-circle text-primary me-2"></i>Laravel (PHP framework)</li>
                          <li class="mb-2"><i class="fas fa-check-circle text-primary me-2"></i>HTML & CSS</li>
                          <li class="mb-2"><i class="fas fa-check-circle text-primary me-2"></i>QT framework</li>
                          <li class="mb-2"><i class="fas fa-check-circle text-primary me-2"></i>VBA</li>
                      </ul>
                    </div>
                    <div class="col-6">
                      <h5 class="card-title fw-bold text-decoration-underline">Autres compétences acquises :</h5>
                      <ul class="list-unstyled">
                          <li class="mb-2"><i class="fas fa-check-circle text-primary me-2"></i>Bases de l'intelligence artificiel</li>
                          <li class="mb-2"><i class="fas fa-check-circle text-primary me-2"></i>Gestion de projets</li>
                          <li class="mb-2"><i class="fas fa-check-circle text-primary me-2"></i>Notions de comptabilité</li>
                          <li class="mb-2"><i class="fas fa-check-circle text-primary me-2"></i>Comptabilité Analytique (stage)</li>
                          <li class="mb-2"><i class="fas fa-check-circle text-primary me-2"></i>Office 365</li>
                      </ul>
                    </div>
                </div>
                @if (isDarkTheme) {
                    <img class="img-card-bottom h-100 w-100 p-1" ngSrc="/assets/Logo-Uha-blanc.png" alt="image" height="200" width="800">
                }
                @else {
                    <img class="img-card-bottom h-100 w-100 p-1" ngSrc="/assets/Logo-Uha-blanc.png" alt="image" style="filter: invert(1);" height="200" width="800">
                }
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-body bg-opacity-75 shadow-sm border-0">
                <div class="card-header bg-transparent border-bottom border-secondary">
                    <div class="h5">Lycée Général Don Bosco - Landser</div>
                    <p class="text-secondary mb-0">2016 - 2019 : BACCALAURÉAT SCIENCE DE L'INGÉNIEUR</p>
                </div>
                <div class="card-body">
                    <h5 class="card-title fw-bold text-decoration-underline">Compétences acquises :</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2"><i class="fas fa-check-circle text-primary me-2"></i>Python</li>
                        <li class="mb-2"><i class="fas fa-check-circle text-primary me-2"></i>CAO (conception assistée par ordinateur)</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-body bg-opacity-75 shadow-sm border-0">
                <div class="card-header bg-transparent border-bottom border-secondary">
                    <div class="h5">En autodidacte</div>
                    <p class="text-secondary mb-0">Sur mon temps libre</p>
                </div>
                <div class="card-body">
                    <h5 class="card-title fw-bold text-decoration-underline">Compétences acquises :</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2"><i class="fas fa-check-circle text-primary me-2"></i>AngularTS</li>
                        <li class="mb-2"><i class="fas fa-check-circle text-primary me-2"></i>ReactJS</li>
                        <li class="mb-2"><i class="fas fa-check-circle text-primary me-2"></i>Kotlin</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
