<main class="container-fluid bg-transparent py-2">
  <h2 class="border-bottom pb-2 text-light">À propos de moi</h2>
  <div class="container-fluid p-2 bg-body bg-opacity-75 rounded-3 p-3">
    <img ngSrc="./assets/Image1.png"
          alt="Théo BIZET"
          class="img-fluid rounded float-start me-3 mb-0"
          style="object-fit: cover;"
          width="180"
          height="240">
    <p class="text-justify">
      Je viens de valider avec succès ma troisième année de licence en informatique, ce qui m'a permis d'être admis en master MIAGE à la rentrée prochaine. Cette réussite témoigne de mon engagement, de ma rigueur et de ma capacité à atteindre mes objectifs académiques. Ma passion pour les technologies numériques et la création de solutions innovantes reste intacte et se renforce au fil de mon parcours. Titulaire des permis B et AM, je bénéficie d'une bonne mobilité pour saisir diverses opportunités professionnelles ou académiques. En parallèle de mon cursus, je fais preuve de curiosité et de polyvalence : j'ai pratiqué la guitare pendant neuf ans, une expérience qui a renforcé ma créativité, ma discipline et ma persévérance. J’aime également m’investir dans des projets collectifs et relever de nouveaux défis, ce qui me motive à poursuivre mon développement personnel et professionnel au sein du master MIAGE.
      <br>
      J'ai également un intérêt prononcé pour l'histoire et la culture générale, des domaines qui alimentent ma soif d'apprentissage. Je m'intéresse particulièrement à la conception assistée par ordinateur (CAO), un domaine où la technique rencontre l'imagination, ainsi qu'au développement frontend, où l'esthétique et l'utilité se combinent harmonieusement. Mon ambition est de devenir développeur full-stack, afin de maîtriser pleinement les multiples aspects du métier et de contribuer à des projets technologiques modernes et impactants.
      <br>
      En tant que développeur polyvalent, j'ai acquis une solide expertise dans plusieurs langages de programmation, notamment C++, Java, JavaScript, Python, PHP, HTML & CSS, ainsi que SQL. Mon environnement de développement inclut principalement des outils comme QT pour les interfaces utilisateur, Laravel pour le développement web, et Microsoft SSMS pour la gestion des bases de données. En complément de mes compétences techniques, je possède également des connaissances en comptabilité et en gestion de projet, ce qui me permet de comprendre et de répondre efficacement aux besoins opérationnels et financiers des projets sur lesquels je travaille. Cette combinaison de compétences techniques et de gestion me permet de contribuer de manière significative à des projets variés, allant du développement logiciel à la gestion de projets complexes.
      <br>
      Par ailleurs, je consacre une partie de mon temps libre à l'apprentissage autodidacte de nouvelles technologies afin d'élargir mon champ de compétences. Je me forme actuellement à Angular et ReactJS pour approfondir mes connaissances en développement frontend moderne, ainsi qu'à Kotlin pour explorer le développement d'applications mobiles et backend. Cette démarche proactive me permet de rester à jour avec les évolutions du secteur et de renforcer ma polyvalence en tant que développeur.
    </p>
  </div>
</main>
