img{
  height: 84vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: white;
}
.carousel-control-prev-icon{
  background-image: url('../../../assets/arrow-left-thin-svgrepo-com.svg');
}
.carousel-control-next-icon {
  background-image: url('../../../assets/arrow-right-thin-svgrepo-com.svg');
}

.carousel-indicators {
  filter: invert(1);
}

